@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <span id="myId"></span></h1>
</div>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <video id="myVideo" playsinline autoplay muted style="max-width: 100%;"></video>
        </div>
        <div class="col-xs-6 col-md-9">
            <video id="peerVideo" playsinline autoplay style="max-width: 100%;"></video>
        </div>
    </div>
    <div class="row">&nbsp;</div>
</div>

<div class="container">
    <form>
        <div class="form-group row">
            <div class="col-sm-12">
                <input type="text" class="form-control" id="peerInput" placeholder="Enter peer's Id here"/>
            </div>
        </div>
        <button class="btn btn-success" id="callButton">
            Call
        </button>
        <button class="btn btn-warning" id="hangupButton">
            Hang Up
        </button>
    </form>
</div>
<div class="row">
    <div class="col-12">
    &nbsp;
    </div>
</div>
